<div class="bg-light d-block d-md-none" style="position:absolute; top:0px;"><br>
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link <%- page == '/dashboard' ? 'active' : '' %>" href="/dashboard">
				<span data-feather="home"></span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%- page == '/branch' ? 'active' : '' %>" href="/branch">
				<span data-feather="grid"></span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%- page == '/department' ? 'active' : '' %>" href="/department">
				<span data-feather="database"></span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%- page == '/user_group' ? 'active' : '' %>" href="/user_group">
				<span data-feather="user"></span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%- page == '/hierarchy' ? 'active' : '' %>" href="/hierarchy">
				<span data-feather="bar-chart-2"></span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%- page == '/staff' ? 'active' : '' %>" href="/staff">
				<span data-feather="users"></span>
			</a>
		</li>
	</ul><br>
</div>